.header {
    width: 100%;
    padding: 0 50px;
    /*background-color: #101010;*/
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 999;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.header_left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #282c34;
}

.logo_img {

}

.menu {
    margin-left: 50px;
}

.menu_list {
    display: flex;
    align-items: center;
}

.menu_item {
    margin: 0 15px;
    list-style: none;
    position: relative;
}

.menu_item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    display: inline-block;
    color: #fff;
}

.menu_item_active a::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #f9004d;
    transition: .3s;
    bottom: 0;
}

.header_right {
    display: flex;
    align-items: center;
}



.social {

}

.social_list {
    display: flex;
    align-items: center;
}

.social_item {
    list-style: none;
    width: 30px;
    height: auto;
}

.social_item a {
    text-decoration: none;
    color: #fff;
    opacity: 80%;
    text-align: left;
    line-height: inherit;
    font-size: 16px;
}

.social_btn {
    margin-left: 50px;
    cursor: pointer;
}

.social_btn button {
    padding: 0 25px;
    height: 46px;
    display: inline-block;
    line-height: 42px;
    border-radius: 6px;
    border: 2px solid hsla(0,0%,100%,.2);
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}