.tab {
  color: #fff;
  position: relative;
  margin: 0 20px;
  display: inline-block;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  &::before {
    background: rgba(198,201,216,.75);
    position: absolute;
    content: "";
    width: 30px;
    transition: all .7s cubic-bezier(.19,1,.22,1) 0s;
    height: 2px;
    bottom: 0;
  }
}
.tab_selected {
  color: #f9004d;
  &::before {
    background: currentColor;
    width: 100%;
  }
}