.home {
    background-color: #101010;
    background-image: url("https://trydo.rainbowit.net/assets/images/bg/bg-image-28.jpg");
    height: 830px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1260px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    padding-top: 100px;
    display: block;
    text-align: left
}

.pretitle {
    color: rgba(198,201,216,.75);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
}

.title_row1 {
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
    line-height: 90px;
    text-transform: inherit;
}

.title_row2 {
    color: #f9004d;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
    line-height: 90px;
    text-transform: inherit;
}

.subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.4;
}