.project {
  position: relative;
  min-height: 500px;
  width: 100%;
  padding-top: 35%;
  margin-top: 40px;
  @media (max-width: 1200px) {
    min-height: 440px;
  }
  @media (max-width: 992px) {
    min-height: 330px;
  }

  .thumbnail-inner {
    transition: transform .28s ease;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    &::before {
      background-color: #f6004c;
      background-image: linear-gradient(#f6004c 10%, #000);
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      opacity: 0;
    }
  }

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    border-radius: 5px;
    background-color: #0a0a0a;
    transform: scale(1.13) translateZ(0);
    backface-visibility: hidden;
    transition: transform .28s ease;
    z-index: 4;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      content: " ";
      display: block;
      border-radius: 5px;
      background-color: rgba(25, 25, 25, .37);
    }

  }

  .bg-blr-image {
    background-size: cover;
    background-position: 50%;
    background-color: #0a0a0a;
    transform: translateY(38px);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  .content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 80%;
    z-index: 10;
    padding: 0;
    right: 40px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 90%;
      left: 0;
      right: 0;
    }

    .inner {
      p {
        color: #c6c9d8;
        font-size: 14px;
        line-height: 30px;
        @media (max-width: 992px) {
          margin-bottom: 10px;
          font-size: 12px;
        }
      }

      h4 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        @media (max-width: 992px) {
          font-size: 20px;
          margin-bottom: 10px;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  &:hover {
    .thumbnail-inner {
      transform: scale(1.08) translateZ(0);

      &::before {
        opacity: .85;
      }
    }

    .thumbnail {
      transform: scale(1) translateZ(0);

      &::after {
        background-color: rgba(25, 25, 25, .24);
      }
    }

    .bg-blr-image {
      opacity: 0;
      z-index: 9;
    }
  }
}