.contact {
  background: #191919;
  padding: 120px 0;
  height: 100vh;
  @media (max-width: 992px) {
    padding: 80px 0;
    height: 100%;
  }

  &_title {
    margin-bottom: 50px;
    margin-top: -20px;
    text-align: left;
    @media (max-width: 1200px) {
      margin-bottom: 30px;
    }


    h2 {
      margin-bottom: 8px;
      color: #fff;
      line-height: 1.4074;
      @media (max-width: 768px) {
        font-size: 36px;
        margin-bottom: 7px;
      }
    }

    p {
      color: rgba(198, 201, 216, .75);
      font-size: 18px;
      line-height: 30px;
      @media (max-width: 992px) {
        display: contents;
      }
      a {
        color: #fff;
        font-weight: 500;
        display: block;
        @media (max-width: 992px) {
          display: inline-block;
        }

      }
    }
  }
}

.form_wrapper {
  form {
    margin: 0;
    @media (max-width: 768px) {
      text-align: left;
    }
    label {
      display: block;
      margin-bottom: 0;

      input, textarea {
        color: rgba(198, 201, 216, .75);
        border: 2px solid hsla(0, 0%, 100%, .2);
        display: block;
        width: 100%;
        padding: 0 20px;
        border-radius: 5px;
        height: 50px;
        line-height: 46px;
        margin-bottom: 20px;
        outline: none;
        font-size: 15px;
        letter-spacing: .1px;
        background: transparent;
      }

      textarea {
        height: 120px;
      }
    }
  }
}

.thumbnail {
  display: flex;
  align-items: center;
  height: 670px;
  @media (max-width: 992px) {
    justify-content: center;
    height: 560px;
    margin-bottom: 40px;
  }

  img {
    border-radius: 5px;
    box-shadow: 0 25px 65px rgba(0, 0, 0, .1);
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    @media (max-width: 992px) {
      height: 100%;
    }
  }
}