.call_to_action {
  padding: 120px 0;
  background: linear-gradient(145deg,#f81f01,#ee076e);
  position: relative;
  z-index: 2;
  @media (max-width: 992px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  span {
    color: #fff;
    @media (max-width: 576px) {
      margin-bottom: 10px;
      font-size: 13px;
    }
  }

  h2 {
    @media (max-width: 992px) {
      font-size: 50px;
      margin-bottom: 10px;
    }
    @media (max-width: 576px) {
      font-size: 32px;
    }
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("https://trydo.rainbowit.net/assets/images/pattern-1.png");
    content: "";
    z-index: -1;
    opacity: .5;
  }
}