.section_title {
  margin-bottom: 30px;
  margin-top: -20px;
  @media (max-width: 1200px){
    margin-bottom: 20px;
  }
  .title {
    font-size: 60px;
    margin-bottom: 8px;
    @media (max-width: 1200px) {
      font-size: 50px;
    }
    @media (max-width: 992px) {
      font-size: 44px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  .sub_title {
    color: rgba(198, 201, 216, .75);
    padding: 0 21%;
    font-weight: 300;
    @media (max-width: 992px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      padding: 0;
    }
  }
}