.section_title {
  margin-bottom: 30px;
  margin-top: -20px;

  .title {
    font-size: 60px;
    margin-bottom: 8px;
  }

  .sub_title {
    color: rgba(198, 201, 216, .75);
    padding: 0 21%;
    font-weight: 300;
  }
}