.home {
  background-color: #101010;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 150px 0;
  position: relative;
  @media (max-width: 992px) {
    background-position: 70%;
    height: auto;
  }
  @media (max-width: 768px) {
    padding: 100px 0;
  }
  .inner {
    text-align: left;
    padding-top: 150px;
    @media (max-width: 992px) {
      padding-top: 76px;
    }
    @media (max-width: 768px) {
      padding-top: 56px;
    }
    span {
      color: rgba(198, 201, 216, .75);
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      display: block;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        font-size: 14px;
        margin-bottom: 5px;
      }
      @media (max-width: 768px) {
        font-size: 13px;
        margin-bottom: 10px;
      }
      @media (max-width: 576px) {
        font-size: 12px;
        width: 100%;
      }
    }
    .title_row1, .title_row2 {
      color: #fff;
      font-size: 75px;
      line-height: 68px;
      font-weight: 900;
      font-family: Montserrat, sans-serif;
      text-transform: inherit;
      width: 70%;
      @media (max-width: 1400px) {
        font-size: 60px;
      }
      @media (max-width: 992px) {
        font-size: 45px;
        margin: 0;
      }
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 49px
      }
      @media (max-width: 576px) {
        font-size: 28px;
        width: 100%;
        line-height: 40px
      }
    }

    .title_row2 {
      color: #f9004d;
    }

    .subtitle {
      font-size: 54px;
      line-height: 1.3;
      font-weight: 700;
      font-family: Poppins, sans-serif;
      @media (max-width: 1400px) {
        font-size: 50px;
      }
      @media (max-width: 992px) {
        font-size: 35px;
        margin: 0;
      }
      @media (max-width: 992px) {
        font-size: 32px;
        line-height: 1.3;
      }
      @media (max-width: 576px) {
        font-size: 24px;
        margin-top: 15px;
      }
    }
  }
}