body {
  margin: 0;
  font-family: -apple-system, Poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 14px;
  line-height: 1.71429;
  color: #1d1d24;
  font-weight: 400;
}

button, html, input, select, textarea {
  font-family: Source Sans Pro,Helvetica,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1, h2, h3 {
  font-weight: 700;
}

h2 {
  font-size: 60px;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, address, blockquote, caption, dd, dl, h1, h2, h3, h4, h5, h6, hr, menu, ol, p, pre, table, ul {
  margin: 0 0 15px;
}

a {
  transition: all .4s;
  text-decoration: none;
  background-color: transparent;
}

*, :after, :before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none; /* Убираем маркеры */
}
