.skill {
  padding: 25px;
  flex-basis: 20%;
  text-align: center;
  &_img {
    filter: grayscale(50%);
    transition: .3s;
    max-height: 110px;
    max-width: 150px;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    &:hover {
      transform: scale(1.1);
      filter: grayscale(0%);
    }
  }
}