.skill {
  padding: 30px;
  flex-basis: 30%;
  text-align: center;
  filter: grayscale(90%);
  transition: .3s;
  @media (max-width: 1200px) {
    padding: 25px;
    flex-basis: 26%;
  }
  &_img {
    max-height: 110px;
    max-width: 150px;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    @media (max-width: 1200px) {
      max-height: 100px;
      max-width: 140px;
    }
  }
  &:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
}